/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(21, 25, 37, 1);
}

header {
height: 10%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 30px 70px;
    z-index: 100000;
    opacity: 1;
    backdrop-filter: blur(30px);
    animation: fadeOut 6s forwards;
}

header:hover {
    opacity: 1;
    animation: none;
}

/*@keyframes fadeOut {
    100% {
        opacity: 0;
    }
}*/
.logo {
    position: relative;
    font-weight: 700;
    color: aliceblue;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: aliceblue;
    letter-spacing: 2px;
    font-weight: 700;
    transition: 0.5s;
    font-weight: bold;
    font-size: 20px;
}
header ul li a:hover {
    color: rgba(1, 238, 255, 1);
}
#menu-icon{
    font-size: 3.6rem;
    color:aqua;
    display: none;
}
.Home {
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.text {
    position: relative;
    top: 25%;
    left: 3%;
    color: aliceblue;
    font-size: 40px;
    font-weight: bold;
    padding: 1px; /* Added padding for space around the text */
}

.ProfileImage {
    position: absolute;
    top: -40%;
    left: 55%;
    width: 600px;

}
.ProfileImage img{
    width: 600px;
}

.blue-text {
    color: rgba(1, 238, 255, 1); /* Change text color to blue */
}
/*.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}*/

.nav-links {
    position: relative;
    left: 10%;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {

    display: block; /* To make the anchor element fill the list item */
    padding-left: 40px;
    padding-top: 30px;
    text-decoration: none;
    color: #000;

}
.nav-links a img{
    box-shadow: 1px 1px 10px 1px aqua;

}
.dwnldBtn{
    position: relative;
    left: 20%;
    background-color: aqua;
    color: #151925;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 1px 1px 10px 1px aqua;

}
.dwnldBtn:hover {
    background-color: #00bbf8;
}
@media all and (max-width: 1000px){
    .ProfileImage img{
        width: 500px;
    }

}
/*about me*/

.aboutme{
    width: 100%;
   height: 100vh;
    background-color: rgba(50, 56, 70, 1);
}
.aboutmeHead{
    color: aliceblue;
    position: absolute;
    top: 110%;
    left: 55%;
    font-weight: bold;
    font-size: 40px;
}
.about{
    color: aliceblue;
    position: absolute;
    top: 135%;
    left: 38%;

    font-size: 28px;
}
.aboutmeImg{
    position: absolute;
    top:120%;
    width: 600px;
}
.seemore{
    position: relative;
    top: 69%;
    left: 50%;
    background-color: aqua;
    color: #151925;
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 1px 1px 10px 1px aqua;
}
.seemore:hover{
    background-color: #00bbf8;
}
.me{
    color: rgba(1, 238, 255, 1);
}
.EducationHead{
    position: relative;
    top: 8%;
display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: aliceblue;
    font-weight: bold;
    font-size: 40px;
}
.Education{
    width: 100%;
    height: 100vh;

}
.btn{
    background-color: aqua;
    color: #151925;
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 1px 1px 10px 1px aqua;
}
.btn:hover{
    background-color: #00bbf8;
    box-shadow: 1px 1px 10px 1px #039393;
}
.Education-container{
    position: relative;
    top: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0 20px;

}
.Education-box{
    width: 30%;
    height: 40%;
    flex: 1 1 1rem;
    background-color: rgba(50, 56, 70, 1);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    border: 2rem solid #323846;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.Education-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 3px;
    margin: 0 auto; /* center the container horizontally */
    width: 70%; /* set a width for the container */
}

.skills-grid img {
    width: 50%;

}
.Service{
    width: 100%;
    height: 100vh;
}
.Service-Container{
    position: relative;
    top: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0 20px;
}
.Service-Box{
    width: 30%;
    height: 40%;
    flex: 1 1 1rem;
    background-color: rgba(50, 56, 70, 1);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    border: 2rem solid #323846;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Assignment{
    width: 100%;
    height: 100vh;
}
.Assignment-Container{
    position: relative;
    top: 12%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    gap: 2rem;
    padding: 0 20px;
}

.Assignment-Box {
    width: 30%;
    height: 40%;
    flex: 1 1 1rem;
    background-color: rgba(50, 56, 70, 1);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    border: 2rem solid #323846;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Projects{
    width: 100%;
    height: 100vh;
}
.Project-Container{
    position: relative;
    top: 12%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    gap: 2rem;
    padding: 0 20px;
}
.Project-box{
    width: 30%;
    height: 40%;
    flex: 1 1 1rem;
    background-color: rgba(50, 56, 70, 1);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    border: 2rem solid #323846;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Project-box img{
    width: 100px;
    height: 100px;
}.Project-box img:hover{
     box-shadow: 1px 10px 10px 1px #000000;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0 10px; /* add a 10px gap from horizontal lines in two sides of the screen */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: rgba(245, 245, 245, 0);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



input[type="text"] {
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 4px;
    background-color: #323846;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

textarea {
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 4px;
    background-color: rgb(50, 56, 70);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    resize: vertical;
}



.social-icons {
    position: relative;
    left: 10%;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social-icon {
    position: relative;
    left: 19%;
    display: block; /* To make the anchor element fill the list item */
    padding-left: 40px;
    padding-top: 30px;
    text-decoration: none;
    color: #000;
}
.social-icon img{
    box-shadow: 1px 1px 10px 1px aqua;

}
.contact{
    position: relative;
    left: 40%;

}
@media all and (max-width: 1300px) {
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.6s;
        padding: 30px 30px;
        z-index: 100000;
    }

    .logo {
        position: relative;
        font-weight: 600;
        color: aliceblue;
        text-decoration: none;
        font-size: 1.8em;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    header ul li a {
        text-decoration: none;
        color: #ffffff;
        font-weight: bold;
        font-size: 18px;
    }
}

@media all and (max-width: 1105px){
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.6s;
        padding: 30px 30px;
        z-index: 100000;
    }

    .logo {
        position: relative;
        font-weight: 600;
        color: #ffffff;
        text-decoration: none;
        font-size: 1.6em;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    header ul li a {
        text-decoration: none;
        color: #ffffff;
        font-weight: bold;
        font-size: 15px;
    }
}
@media all and (max-width: 1020px) {
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.6s;
        padding: 20px 30px;
        z-index: 100000;
    }

    .logo {
        position: relative;
        font-weight: 600;
        color: #ffffff;
        text-decoration: none;
        font-size: 1.4em;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    header ul li a {
        text-decoration: none;
        margin: 0 10px;
        color: #ffffff;
        font-weight: bold;
        font-size: 14px;
    }
}
@media all and (max-width: 965px) {
    .logo {
        position: relative;
        font-weight: 600;
        color: #ffffff;
        text-decoration: none;
        font-size: 1.3em;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    header ul li a {
        text-decoration: none;
        margin: 0 10px;
        color: #ffffff;
        font-weight: bold;
        font-size: 13px;
    }
}

@media all and (max-width: 768px) {
    .logo {
        position: relative;
        font-weight: 700;
        color: #ffffff;
        text-decoration: none;
        font-size: 1.2em;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    header ul li a {
        text-decoration: none;
        margin: 0 8px;
        color: #ffffff;
        font-weight: bold;
        font-size: 12px;
    }
}



@media all and (max-width: 660px){
    .logo {
        position: relative;
        font-weight: 700;
        color: #ffffff;
        text-decoration: none;
        font-size: 1.0em;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    header ul li a {
        text-decoration: none;
        margin: 0 6px;
        color: #ffffff;
        font-weight: bold;
        font-size: 11px;
    }
}

@media all and (max-width: 590px){

 /*   header ul li a{
        opacity: 0;
    }*/
    header ul {

       opacity: 0;

    }
    header ul:hover {
        opacity: 100%;
        position: relative;

        display: grid;
        justify-content: left;
        align-items: center;
    }
    #menu-icon{
        display: block;
        position: absolute;
        left: 80%;
        top: 5%;
    }
    #menu-icon:hover{
      color: #323846;
       /*when i hover this i want to display
       Home
       About
       Education
       Service
       Assignment
       Projects
       Contact
       in verticaly
       */
    }


}

@media all and (max-width: 495px){

}
/*
!*media queries*!

}






*/